footer {
    position: static;
    width: 100%;
    background-color: #7aa67b;
    padding: 0.5em 0 0.5em 0;
    border-top: 2px solid black;
    box-shadow: rgb(0, 0, 0, 0.2) 0px -1px 3px;
    display: flex;
    align-items: center;
}

.footerLeft {
    flex: 0.4;
}

.manul {
    height: 7vh;
    width: auto;
}

.footerCentre {
    flex: 1;
    text-align: center;
}

.footerRight {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1vw;
}

footer p,
.contactFooter {
    font-size: 1em;
}

footer p {
    margin: 0.2em 0;
}

.contactFooter,
.windowLinkList li a {
    color: rgb(27, 30, 101);
}

.contactFooter:visited,
.windowLinkList li a:visited {
    color: rgb(70, 34, 111);
}

.contactFooter:hover,
.windowLinkList li a:hover {
    color: rgb(20, 65, 148);
    text-decoration: 1px dashed underline;
}

.contactFooter:focus,
.windowLinkList li a:focus {
    color: rgb(54, 89, 156);
}

.contactFooter:active,
.windowLinkList li a:active {
    transition: font-size 0.2s, color 0.1s;
    color: #ffffff;
    font-size: 0.99em;
}