@font-face {
    font-family: IBM_VGA_8x16;
    src: url(../assets/fonts/Web437_IBM_VGA_9x16.woff);
}

/* Selecting text */
::-moz-selection {
    /* Code for Firefox */
    color: #f0fff3;
    background: #4e6a4e;
}

::selection {
    color: #f0fff3;
    background: #4e6a4e;
}

main {
    flex: 1;
}

body {
    font-family: IBM_VGA_8x16, "Book Antiqua", Palatino, serif;
    background-color: #8fbc8f;
    color: #142121;
    margin: 0;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.0em;
    background-image: url("../assets/background-grid.webp");
    background-size: 32px 32px;
    animation: moveGrid 6s linear infinite;
}

/* vendor prefixes */
@-ms-keyframes moveGrid {

    /* internet explorer */
    from {
        background-position: 32px 0;
    }

    to {
        background-position: 0 32px;
    }
}

@-o-keyframes moveGrid {

    /* opera */
    from {
        background-position: 32px 0;
    }

    to {
        background-position: 0 32px;
    }
}

@-webkit-keyframes moveGrid {

    /* Chrome */
    from {
        background-position: 32px 0;
    }

    to {
        background-position: 0 32px;
    }
}

@-moz-keyframes moveGrid {

    /* firefox */
    from {
        background-position: 32px 0;
    }

    to {
        background-position: 0 32px;
    }
}

@keyframes moveGrid {
    from {
        background-position: 32px 0;
    }

    to {
        background-position: 0 32px;
    }
}

p {
    font-size: 1.1em;
}

.window p {
    padding-left: 2vw;
    padding-right: 2vw;
}

a {
    text-decoration: none;
}

.window {
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAp0lEQVRYR+3YQQqAMAxEUXuA3v+gPYCu4kKR4UPaGhh3kiGmr0XE1ns/jwJXKzfoGKP9ETYgb9Fyg8YKYnB1P3sXPkXVYM/6tkFnP5j2r3tG6UpX5/0ezRKve0bLvfCztiyrj7c+SzL6WNSiq7+GqLjPKBVTeYsqIVq3KBVTeYsqIVq3KBVTeYsqIVq3KBVTeYsqIVq3KBVTeYsqIVp/idIGq/Nl/o9ed0TYZ1/Oj6UAAAAASUVORK5CYII=") 14 / 14px / 0 round;
    border-width: 14px;
    border-style: solid;
    width: 70%;

    margin: 1vh auto 1vh auto;
    background-color: #f0fff3;
    box-shadow: rgb(0, 0, 0, 0.2) 1px 1px 2px 1px, rgb(0, 0, 0, 0.2) -1px -1px 2px 1px;
}

.windowList {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5vw;
    list-style-type: square;
    list-style-position: inside;
}

.windowLinkGithub {
    list-style-image: url("/assets/github_icon.png")
}

.windowLinkLinkedIn {
    list-style-image: url("/assets/linkedin_icon.png")
}

.homeButtonLink img {
    width: auto;
    height: auto;
}

.homeButtonLink:hover img {
    transition: filter 0.2s, width 0.3s;
    filter: brightness(0.8);
    transform: scale(1.025);
}

.homeButtonLink:active img {
    transition: filter 0.2s, width 0.1s;
    filter: brightness(1.3);
    transform: scale(0.950);
}

.svg {
    background: linear-gradient(#EEAECA, #AB94E9);
    border-radius: 2vw;
    border: 2px solid black;
    margin-bottom: 2vw;
    margin-top: 2vw;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svg svg {
    width: 100%;
    height: auto;
    display: block;
}